
{% load static %}
<div id="demo-div" class="w-100">
    <table id="demo_table" class="w-100">
        <tr>
            <th>Ürün 1</th>
            <th>Ürün 2</th>
            <th>Ürün 3</th>
            <th>Ürün 4</th>
            <th>Ürün 5</th>
        </tr>
        <tr>
            <td><img src="{% static "images/prod1.jpg" %}" alt="" width="100"></td>
            <td><img src="{% static "images/prod2.jpg" %}" alt="" width="100"></td>
            <td><img src="{% static "images/prod3.jpg" %}" alt="" width="100"></td>
            <td><img src="{% static "images/prod4.jpg" %}" alt="" width="100"></td>
            <td><img src="{% static "images/prod5.jpg" %}" alt="" width="100"></td>
        </tr>
        <tr>
            <td><img src="{% static "images/prod1.jpg" %}" alt="" width="100"></td>
            <td><img src="{% static "images/prod2.jpg" %}" alt="" width="100"></td>
            <td><img src="{% static "images/prod3.jpg" %}" alt="" width="100"></td>
            <td><img src="{% static "images/prod4.jpg" %}" alt="" width="100"></td>
            <td><img src="{% static "images/prod5.jpg" %}" alt="" width="100"></td>
        </tr>
        <tr>
            <td><img src="{% static "images/new_prod.jpg" %}" alt="" width="100"></td>
            <td><img src="{% static "images/new_prod.jpg" %}" alt="" width="100"></td>
            <td><img src="{% static "images/new_prod.jpg" %}" alt="" width="100"></td>
            <td><img src="{% static "images/new_prod.jpg" %}" alt="" width="100"></td>
            <td><img src="{% static "images/new_prod.jpg" %}" alt="" width="100"></td>
        </tr>
        
       
    </table>    
</div>