{% extends "base.html" %}
{% load static %}

{% block css_files %}
   <link rel="stylesheet" href="{% static "_mainApp/css/index.css" %}">
{% endblock css_files %}

{% block title %}Adding-Page{% endblock  %}

{% block content %}

<h1 class="bg-danger text-center h3 p-3 mb-3">Welcome The Adding New Product Page.. </h1>
<hr>

<div class="container">
   <div class="row">
      <div class="col-4">
        <!--Adding ALANI BURASI HEADER -->
        <form action="{% url "adding" %}" method="POST">

            {% csrf_token %}

            <div class="mb-3">
                <label for="title" class="form-label">Product Title </label>
                <input type="text" class="form-control" name="title">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Product Image</label>
                <input type="text" class="form-control" name="image">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Product Description</label>
                <input type="text" class="form-control" name="description">
            </div>
            <div class="mb-3">
                <label for="is_active" class="form-label">Product Is Active</label>
                <input type="text" class="form-control" name="is_active" placeholder="Entry please ..True or False">
            </div>
            <div class="mb-3">
                <label for="is_home" class="form-label" >Product Is Home</label>
                <input type="text" class="form-control" name="is_home" placeholder="Entry please ..True or False">
            </div>
            <div class="mb-3">
                <label for="categories" class="form-label">Product Select Categories</label>
                <select name='action' required=''>
                    {% for category in categories  %}
                       <option value='{{category}}'>{{category}}</option>
                    {% endfor %}
                </select>
                <input type="text" class="form-control" name="categories" placeholder="Bir Kategori Gir">


            </div>
            <input class="btn btn-success w-100" type="submit" value="Save New Prodduct">
        </form>
        
         

      </div>

      <div class="col-4">
        <h4>Product Infos Controller</h4>
        <ul>
            {% for info in prod_infos %}
                <li>{{info}}</li>
            {% endfor %}
        </ul>
      </div>
      <div class="col-4">
        <h4>Adding Category +++</h4>
        <ul>
            <li><a  class="btn btn-primary" href="{% url "adding1" %}">Category Add</a></li>
        </ul>
      </div>
   </div>
</div>
<!-- category ekleme alanı -->
<hr><br><hr>



{% endblock content %}


{% block js_files %}
    <script src="{% static "_mainApp/js/index.js" %}"></script>
{% endblock  %}
